html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.navbar {
	background-color: #333;
	color: white;
	padding: 1.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .site-name {
	font-size: 1.3em;
	font-weight: bold;
	padding-left: 1.5em;
}

.navbar .select-wrapper {
	padding-right: 1.5em;
}

.select-wrapper {
	position: relative;
	display: inline-block;
}

.navbar select {
	background-color: #444;
	color: white;
	border: none;
	padding: 0.5em; /* Additional padding for spacing */
	border-radius: 5px;
	font-size: 1.3em;
	cursor: pointer;
	appearance: none; /* Hides the default arrow */
	-moz-appearance: none;
	-webkit-appearance: none;
}

.navbar select::-ms-expand {
	display: none; /* Hides the default arrow in Internet Explorer */
}

.footer {
	text-align: center; /* Center the text in the footer */
	position: fixed; /* Keep the footer at the bottom of the screen */
	width: 100%; /* Ensure it stretches across the entire screen */
	bottom: 5%;
	flex: 1;
}

/* Basic styling for the form and buttons */
.input-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Align content to the left */
	margin: 20px;
}

.form-input {
	padding: 10px;
	font-size: 1em;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 15em; /* Example width */
	margin-bottom: 10px; /* Space between input and buttons */
}

.form-buttons {
	display: flex;
	gap: 1em; /* 1em gap between buttons */
}

.form-buttons button {
	padding: 10px 20px; /* Padding for the buttons */
	font-size: 1em;
	border: none;
	border-radius: 5px;
	background-color: #333;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s;
}

.form-buttons button:hover {
	background-color: #555; /* Hover effect */
}